# Object files
*.o
*.ko
*.obj
*.elf
# Libraries
*.lib
*.a
*.la
*.lo
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# http://www.gnu.org/software/automake
Makefile.in
# http://www.gnu.org/software/autoconf
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1

.deps/
*.ini
autoconf/
common.makefile
config.h
config.h.in
config.h.in~
config.log
config.status
configs/Makefile
COPYING
doc/C/Makefile
doc/ja_JP.eucJP/Makefile
doc/Makefile
doc/timidity.1
doc/timidity.cfg.5
interface.h
interface/bitmaps/Makefile
interface/Makefile
interface/motif_bitmaps/Makefile
interface/pixmaps/Makefile
libarc/Makefile
libunimod/Makefile
Makefile
nbproject/*
stamp-h2
timidity/newton_table.c
interface/w32g_res.res
interface/w32g_subwin_escaped.c
